@import 'tailwindcss';
@plugin "daisyui" {
	themes: coffee --default;
}

/* Para Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Para Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

@layer base {
	body {
	}
}
