@import 'tailwindcss';
@plugin "daisyui" {
	themes: dracula --default;
}
/* @plugin "daisyui/theme" { */
/* 	name: 'cupcake'; */
/* 	default: true; */
/**/
/* 	--radius-selector: 1rem; */
/* 	--radius-field: 0.5rem; */
/* 	--radius-box: 0.5rem; */
/**/
/* 	--color-primary: oklch(82.67% 0.1973 288); */
/* 	--color-primary-content: oklch(0% 0 0); */
/* } */

/* Para Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Para Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

@layer base {
	body {
	}
}
