@import 'tailwindcss';
@plugin "tailwindcss-animate";
@plugin "daisyui" {
	themes: dracula --default;
}
/* @plugin "daisyui/theme" { */
/* 	name: 'cupcake'; */
/* 	default: true; */
/**/
/* 	--radius-selector: 1rem; */
/* 	--radius-field: 0.5rem; */
/* 	--radius-box: 0.5rem; */
/**/
/* 	--color-primary: oklch(82.67% 0.1973 288); */
/* 	--color-primary-content: oklch(0% 0 0); */
/* } */

/* Para Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input:invalid {
	border: 1px solid orange;
}

/* Para Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

:root {
	.pintura-editor {
		--color-background: 0, 0, 0;
		--color-foreground: 255, 255, 255;
	}
}

@theme inline {
	@keyframes scale-out {
		from {
			opacity: 1;
			transform: rotateX(0deg) scale(1);
		}
		to {
			opacity: 0;
			transform: rotateX(-10deg) scale(0.95);
		}
	}

	@keyframes fade-in {
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

	@keyframes fade-out {
		from {
			opacity: 1;
		}
		to {
			opacity: 0;
		}
	}
}

@layer base {
	/* 	*, */
	/* 	::after, */
	/* 	::before, */
	/* 	::backdrop, */
	/* 	::file-selector-button { */
	/* 		border-color: var(--color-border-card, currentColor); */
	/* 	} */
}

@layer components {
	/* *:not(body):not(.focus-override) { */
	/* 	outline: none !important; */
	/* 	&:focus-visible { */
	/* 		@apply focus-visible:ring-foreground focus-visible:ring-offset-background focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-offset-1; */
	/* 	} */
	/* } */

	.link {
		@apply text-red-500;
	}
}
